<div class="tabular">
  <% unless no_pagination %>
    <div class='page_info'>
      <%= page_entries_info(collection) %>
    </div>
    <%= will_paginate(collection) || "" %>
  <% end %>

  <table class="<%= css_class %>">
    <% if fields %>
      <thead>
        <tr>
          <% fields.each do |field| %>
            <th><%= field %></th>
          <% end %>
        </tr>
      </thead>
    <% end %>

    <tbody>
      <% if partial %>
        <%= render(:partial => partial, :collection => collection) %>
      <% else %>
        <%= render(:partial => collection) %>
      <% end %>
    </tbody>

    <% if new %>
      <tfoot>
        <% (fields.length - 1).times do %>
          <td>&nbsp;</td>
        <% end %>
        <td><%= link_to('Add new', new) %></td>
      </tfoot>
    <% end %>
  </table>
</div>
