!= title "Note #{@note.id}"
!= breadcrumbs ['Home', root_path], @note

%h2.subtitle
  by
  != link_to_originator @note.originator
  in reference to
  != link_to_notable @note.notable
!= link_to_resources @note, :edit, :delete

%p
  = @note.contents
