- javascript 'application'

- context_bar do
  .breadcrumbs
    != breadcrumbs ['Contents', sources_path], @source
  .resources
    != link_to_resources @source, :edit

  %p
    - if @source.metadata.valid?
      #metadata.toggle-hidden{:title => 'metadata'}
        != @source.metadata.to_html

    %a{:href => '#', :id => 'toggle-sentence-status'}
      Show annotation status

%p
  != paginate @source_divisions

.table-of-source-divisions
  %ul
    - @source_divisions.each do |source_division|
      %li
        != completion_rate source_division.aggregate_status
        != link_to "#{source_division.title} (#{source_division.citation})", source_division
