%h2.title
  = @source.author_and_title
  != link_to_resources @source, :edit

%table.table.is-narrow
  %tbody
    - metadata_fields_and_labels(@source).each do |header, fields_and_values|
      - unless fields_and_values.empty?
        %tr
          %td{colspan: 2}
            %h3.subtitle
              = header
        - fields_and_values.each do |(field, value)|
          %tr
            %td= field
            %td= value

.tile.is-ancestor.is-vertical
  .tile.is-parent.is-12
    .tile.is-child
      .is-centered
        - if @activity_stats.length > 1
          != line_chart "Recent activity", @activity_stats
  .tile.is-parent
    .tile.is-child
      != statistics "Completion", "sentence", @sentence_completion_stats
    .tile.is-child
      != statistics "Annotators", "sentence", @annotated_by_stats
    .tile.is-child
      != statistics "Reviewers", "sentence", @reviewed_by_stats

%h3.subtitle Table of contents

%p
  != paginate @source_divisions

%table.table
  %tbody
    - @source_divisions.each do |source_division|
      %tr
        %td
          != completion_rate source_division.cached_status_tag
          != link_to "#{source_division.title} (#{source_division.cached_citation})", source_division
