- javascript 'application'

- context_bar do
  .breadcrumbs
    != breadcrumbs ['Contents', sources_path], @source
  .resources
    != link_to_resources @source, :edit

  - if @source.metadata.valid?
    %p
      #metadata.toggle-hidden{:title => 'metadata'}
        != @source.metadata.to_html

%p
  != paginate @source_divisions

%ul.toc1level
  - @source_divisions.each do |source_division|
    %li
      %span.toc-title
        %em= source_division.title
        = "(#{source_division.citation})"
      %span.toc-link!= link_to 'Browse', source_division
