- javascript 'application'

- context_bar do
  .breadcrumbs
    != breadcrumbs ['Contents', sources_path], @source
  .resources
    != link_to_resources @source, :edit

%h2.ui.header
  = @source.author_and_title

- metadata_fields_and_labels(@source).each do |header, fields_and_values|
  %h3.ui.header
    = header
  %table.ui.compact.definition.table.segment
    %tbody
      - fields_and_values.each do |(field, value)|
        %tr
          %td.four.wide= field
          %td.twelve.wide= value

%h3.ui.header
  Table of contents

%p
  != paginate @source_divisions

.ui.list
  - @source_divisions.each do |source_division|
    .item
      != completion_rate source_division.aggregate_status
      != link_to "#{source_division.title} (#{source_division.citation})", source_division
