%h2.ui.header
  = @source.author_and_title
  != link_to_resources @source, :edit

- metadata_fields_and_labels(@source).each do |header, fields_and_values|
  - unless fields_and_values.empty?
    %h3.ui.header
      = header
    %table.ui.compact.definition.table.segment
      %tbody
        - fields_and_values.each do |(field, value)|
          %tr
            %td.four.wide= field
            %td.twelve.wide= value

%p.centered-images
  - if @activity_stats.length > 1
    != line_chart "Recent activity", @activity_stats

%p.centered-images
  != statistics "Completion", "sentence", @sentence_completion_stats
  != statistics "Annotators", "sentence", @annotated_by_stats
  != statistics "Reviewers", "sentence", @reviewed_by_stats

%h3.ui.header
  Table of contents

%p
  != paginate @source_divisions

.ui.list
  - @source_divisions.each do |source_division|
    .item
      != completion_rate source_division.cached_status_tag
      != link_to "#{source_division.title} (#{source_division.cached_citation})", source_division
