- @sentence.prev_sentences(5).map(&:to_s).each do |s|
  != s
  = "|"
%span{:style => "border-bottom: solid red"}
  != @sentence.to_s
- @sentence.next_sentences(5).map(&:to_s).each do |s|
  = "|"
  != s

- if @sentence.is_next_sentence_appendable?
  != button_to "Merge sentence with following sentence", { :action => "update", :op => 'merge_with_next_sentence' }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put, :confirm => 'Are you sure that you want to merge this sentence with the next?'

%table
  - @sentence.tokens.word.each_with_index do |t, i|
    %tr
      %td
        != "#{t.presentation_before}<span class=\"w\">#{t.form}</span>#{t.presentation_after}"
      %td
        - if t.is_splitable?
          != button_to "Split token", { :action => "update", :op => 'split', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put
        - if @sentence.is_splitable_after?(t)
          != button_to "Split sentence after this token", { :action => "update", :op => 'split_sentence', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put
        - if t.is_joinable?
          != button_to "Join with next token", { :action => "update", :op => 'join', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Joining...", :method => :put
