- stylesheet 'tokenization'

- context_bar do
  .breadcrumbs
    != breadcrumbs @source, @source_division, @sentence, 'Tokenization'
    != completion_rate @sentence.completion
  %p
    != external_text_links @sentence

#presentation
  != render 'tokenization'

.button-row
  != button_to "Done", @sentence, :method => :get
