- context_bar do
  .breadcrumbs
    != breadcrumbs @source, @source_division, @sentence, 'Tokenization'
  %p
    != external_text_links @sentence

!= format_sentence @sentence_window,
  citations: true,
  highlight: @sentence,
  sentence_breaks: true,
  link_to: :sentences

.tokenization
  .button-row
    - if @sentence.is_next_sentence_appendable?
      != button_to "Merge sentence with following sentence", { :action => "update", :op => 'merge_with_next_sentence' }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put, :confirm => 'Are you sure that you want to merge this sentence with the next?'

  %table
    - @sentence.tokens.visible.each_with_index do |t, i|
      %tr
        %td
          != "#{t.presentation_before}<span class=\"w\">#{TokenText.token_form_as_html(t.form)}</span>#{t.presentation_after}"
        %td.button-row
          - if t.is_splitable?
            != button_to "Split token", { :action => "update", :op => 'split', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put
          - if @sentence.is_splitable?(t)
            != button_to "Start new sentence here", { :action => "update", :op => 'split_sentence', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Splitting...", :method => :put
          - if t.is_joinable?
            != button_to "Join with next token", { :action => "update", :op => 'join', :op_id => t.id }, "data-remote" => true, "data-disable-with" => "Joining...", :method => :put

.button-row
  != button_to "Done", @sentence, :method => :get
