<tr class="<%= cycle('even', 'odd') %>">
  <td><%= sentence.citation :internal => true, :abbreviated => true %> <%= readable_completion(sentence, :checkmark => :only) %></td>
  <td class="form" lang="<% sentence.language %>"><%= format_sentence(sentence, :length_limit => 5) %></td>
  <td><%= link_to 'Details', sentence %></td>
</tr>
