<tr class="<%= cycle('even', 'odd') %>">
  <td><%= sentence.citation :internal => true, :abbreviated => true %> <%= readable_completion(sentence, :checkmark => :only) %></td>
  <td class="form" lang="<% sentence.language %>"><%= sentence.presentation_as_html(:length_limit => 10) %></td>
  <td><%= link_to 'Details', sentence %></td>
</tr>
