- context_bar do
  .breadcrumbs
    != breadcrumbs ['Contents', sources_path], @source, @source_division, @sentence, 'Edit'
  %p
    != external_text_links @sentence

= semantic_form_for @sentence do |form|
  != form.input :presentation_before, :required => false, :label => 'Presentation text before sentence'
  != form.input :presentation_after, :required => false, :label => 'Presentation text after sentence'
  != form.submit 'Update'
