<%= javascript "prototabs" %>
<%= stylesheet "tabs" %>

<% roundedbox do -%>
  <%=h @sentence.citation %> <%= readable_completion(@sentence, :checkmark => :only) %><br/>
  <%= external_text_links(@sentence) %><br/>
  <%= link_to_resources @sentence, :index, :previous, :next, :parent, :delete, :edit %>
  <%= link_to "Tokenize", :action => :tokenize %>
  <%= link_to "Resegment", :action => :resegment_edit %>
  <%= link_to "Merge with next", :action => :merge %>
<% end %>

<% if is_annotator? or @sentence.is_reviewed? %>
  <ul id="tabs" class="tabs">
    <li><a href="#metadata"><span>Metadata</span></a></li>
    <li><a href="#sentence_division"><span>Sentence division</span></a></li>
    <li><a href="#tokenization"><span>Tokenization</span></a></li>
    <li><a href="#morphology"><span>Morphology</span></a></li>
    <li><a href="#dependencies"><span>Dependencies</span></a></li>
    <li><a href="#information_structure"><span>Information structure</span></a></li>
    <li><a href="#history"><span>History</span></a></li>
    <li><a href="#low_level_data"><span>Low level data</span></a></li>
  </ul>

  <script>
    Event.observe(window, 'load', function() {
      var tab = new ProtoTabs('tabs', { defaultPanel: 'dependencies' });
    });
  </script>

  <% layer_if(is_reviewer?, "metadata", :actions => [
                            link_to_unless(@sentence.is_reviewed?, "Flag as reviewed", :action => 'flag_as_reviewed', :id => @sentence),
                            link_to_if(@sentence.is_reviewed?, "Flag as not reviewed", :action => 'flag_as_not_reviewed', :id => @sentence),
    ] ) do -%>
    <%= format_annotator(@sentence, :time => true) %><br/>
    <%= format_reviewer(@sentence, :time => true) %>
  <% end %>

  <% layer("sentence_division", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_sentence_division_url(@sentence))]) do -%>
    <%= render :partial => 'sentence_divisions/show' %>
  <% end %>

  <% layer("morphology", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_morphtags_url(@sentence))]) do -%>
    <%= render :partial => 'morphtags/show' %>
  <% end %>

  <% layer("dependencies", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_dependencies_url(@sentence))]) do -%>
    <%= render :partial => 'dependencies/show' %>
  <% end %>

  <% layer_if(is_annotator? || @sentence.is_reviewed?, "information_structure", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_info_status_url(@sentence))]) do -%>
    <%= render :partial => 'info_statuses/show' %>
  <% end %>
<% else %>
  Sentence not yet annotated and reviewed.
<% end %>

<% layer_if((is_reviewer? and not @sentence.notes.empty?), "notes") do -%>
  <%= notes_summary(@sentence.notes) %>
<% end %>
 
<% layer_if(is_reviewer?, "tokenization") do -%>
  <h3>Mark-up</h3>
  <div><%= @sentence.presentation_as_prettyprinted_code(:coloured => true) %></div>

  <h3>Styled sentence</h3>
  <div><%= @sentence.presentation_as_html %></div>

  <h3>Tokens</h3>
  <%= tokens_table @tokens %>
<% end %>

<% layer_if(is_reviewer?, "history") do -%>
  <% unless @sentence.audits.empty? %>
    <%= audits_summary @sentence.audits %>
  <% else %>
    No history.
  <% end %>
<% end %>

<% layer_if(is_reviewer?, "low_level_data") do -%>
  <%= low_level_data_table(@sentence, :id, :sentence_number, :created_at, :updated_at, :annotated_by, :annotated_at, :reviewed_by, :reviewed_at, :unalignable, :automatic_alignment, :sentence_alignment_id, :source_division_id, :presentation, :reference_fields) %>
<% end %>
