<div class="roundedbox">
  <dl>
    <dt>Sentence ID:</dt><dd><%= @sentence.id %></dd>
    <dt>Source:</dt><dd><%= link_to_source(@sentence.source_division.source) %></dd>
    <dt>Source part:</dt><dd><%= link_to_source_division(@sentence.source_division) %></dd>
    <dt>Citation:</dt><dd class="reference"><%= @sentence.citation :internal => true %> (<%= @sentence.citation %>)</dd>
    <dt>Linearisation index:</dt><dd><%= @sentence.sentence_number %></dd>
    <dt>Time stamps:</dt><dd><%= @sentence.created_at ? @sentence.created_at : '?' %> (creation), <%= @sentence.updated_at %> (last update)</dd>
    <dt>Annotation completion:</dt><dd><%= link_to(readable_completion(@sentence), annotation_path(@sentence)) %></dd>
  </dl>
  <%= link_to_if @sentence.has_previous_sentence?, 'Show previous', @sentence.previous_sentence, :class => :previous %>
  <%= link_to_if @sentence.has_next_sentence?, 'Show next', @sentence.next_sentence, :class => :next %>
  <%= link_to 'Index', sentences_url, :class => :index %>
  <%= link_to_if @sentence.has_previous_sentence?, 'Remove', @sentence, :confirm => 'Are you sure? This will append all tokens to the previous sentence in the text and remove all syntactic annotation from the new merged sentence.', :method => :delete, :class => :delete %>
</div>

<% layer_unless @sentence.notes.empty?, "notes" do -%>
  <%= notes_summary(@sentence.notes) %>
<% end %>
 
<% layer_unless @sentence.audits.empty?, "revisions" do -%>
  <%= audits_summary @sentence.audits %>
<% end %>

<% layer("tokens") do -%>
  <%= tokens_table @tokens %>
<% end %>
