<%= javascript "prototabs" %>
<%= stylesheet "tabs" %>

<% roundedbox do -%>
  <%=h @sentence.citation %> <%= readable_completion(@sentence, :checkmark => :only) %><br/>
  <%= external_text_links(@sentence) %><br/>
  <%= link_to_resources @sentence, :index, :previous, :next, :parent, :delete, :edit %>
  <!-- %= link_to "Tokenize", :action => :tokenize % -->
<% end %>

<% if is_annotator? or @sentence.is_reviewed? %>
  <!-- ul id="tabs" class="tabs">
    <li><a href="#metadata"><span>Metadata</span></a></li>
    <li><a href="#tokenization"><span>Tokenization</span></a></li>
    <li><a href="#morphology"><span>Morphology</span></a></li>
    <li><a href="#dependencies"><span>Dependencies</span></a></li>
    <li><a href="#information_structure"><span>Information structure</span></a></li>
    <li><a href="#history"><span>History</span></a></li>
    <li><a href="#low_level_data"><span>Low level data</span></a></li>
  </ul -->

  <script>
    // TODO: This interferes with the drawing of anaphoric links in the information structure view.
    // Event.observe(window, 'load', function() {
    //   var tab = new ProtoTabs('tabs', { defaultPanel: 'dependencies' });
    // });
  </script>

<% layer_if((is_reviewer? and not @sentence.tokenization_valid?), "Validation error") do -%>
  <div style="background-color: #fcf6d0">
   Presentation:<br/>
   <span class="tag"><%= @sentence.presentation_as_tokens.join(' ') %></span><br/>
   Tokens:<br/>
   <span class="tag"><%= @sentence.tokens.map(&:form).join(' ') %></span</br>
  </div>
<% end %>


  <% layer_if(is_reviewer?, "metadata", :actions => [
                            link_to_unless(@sentence.is_reviewed?, "Flag as reviewed", :action => 'flag_as_reviewed', :id => @sentence),
                            link_to_if(@sentence.is_reviewed?, "Flag as not reviewed", :action => 'flag_as_not_reviewed', :id => @sentence),
    ] ) do -%>
    <%= format_annotator(@sentence, :time => true) %><br/>
    <%= format_reviewer(@sentence, :time => true) %>
  <% end %>

  <% layer("sentence_division", :actions => [
           link_to_if(is_annotator?, "Edit", :action => :resegment_edit),
           link_to_if(is_annotator?, "Merge with next", { :action => :merge },
                      :confirm => 'Are you sure that you want to merge this sentence with the next?')]) do -%>
    <%= @sentence.prev_sentences(5).map(&:presentation_as_html).join(' | ') %>
    | <span style="border-bottom: solid red">
      <%= @sentence.presentation_as_html %>
    </span> |
    <%= @sentence.next_sentences(5).map(&:presentation_as_html).join(' | ') %>
  <% end %>

  <% layer("morphology", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_morphtags_url(@sentence))]) do -%>
    <%= render :partial => 'morphtags/show' %>
  <% end %>

  <% layer("dependencies", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_dependencies_url(@sentence))]) do -%>
    <%= render :partial => 'dependencies/show' %>
  <% end %>

  <% layer_if(is_annotator? || @sentence.is_reviewed?, "information_structure", :actions => [
    link_to_if(is_annotator?, "Edit", edit_sentence_info_status_url(@sentence))]) do -%>
    <%= render :partial => 'info_statuses/show' %>
  <% end %>
<% else %>
  Sentence not yet annotated and reviewed.
<% end %>

<% layer_if((is_reviewer? and not @sentence.notes.empty?), "notes") do -%>
  <%= notes_summary(@sentence.notes) %>
<% end %>
 
<% layer_if(is_annotator?, "tokenization", :actions => [
           link_to_if(is_annotator?, "Edit", edit_sentence_tokenizations_path(@sentence))]) do -%>
  <%= tokens_table @tokens %>
<% end %>

<% layer_if(is_reviewer?, "history") do -%>
  <% unless @sentence.audits.empty? %>
    <%= audits_summary @sentence.audits %>
  <% else %>
    No history.
  <% end %>
<% end %>

<% layer_if(is_reviewer?, "low_level_data") do -%>
  <%= low_level_data_table(@sentence, :id, :sentence_number, :created_at, :updated_at, :annotated_by, :annotated_at, :reviewed_by, :reviewed_at, :unalignable, :automatic_alignment, :sentence_alignment_id, :source_division_id, :presentation, :reference_fields) %>
<% end %>
