!= title "Sentence #{@sentence.id}"
!= breadcrumbs ['Home', root_path], @source, @source_division, @sentence

!= completion_rate @sentence.status
!= link_to_resources @sentence, :edit, :previous, :next
!= external_text_links @sentence
!= export_links @sentence

%p
  .section-heading
    %h1 Sentence in context
    - if is_annotator?
      != link_to " (Change tokenization or sentence division)", edit_sentence_tokenizations_path(@sentence), :method => :get

  != format_sentence @sentence_window, citations: true, sentence_numbers: true, highlight: @sentence, sentence_breaks: true, link_to: true

  .section-heading
    %h1 Annotation status
    - if @sentence.is_annotated? and is_reviewer?
      - if @sentence.is_reviewed?
        != link_to "(Change to not reviewed)", flag_as_not_reviewed_sentence_path(@sentence)
      - else
        != link_to "(Change to reviewed)", flag_as_reviewed_sentence_path(@sentence)

  %p
    != format_annotator_and_time @sentence
    %br
    != format_reviewer_and_time @sentence

  - if @sentence.is_reviewed?
    %p
      - if @sentence.valid?
        Annotation is valid.

  .section-heading
    %h1 Morphology
    - if is_annotator?
      != link_to "(Edit)", edit_sentence_morphtags_url(@sentence)
  %p
    != render 'morphtags/show'

  .section-heading
    %h1 Syntax
    - if is_annotator?
      != link_to "(Edit)", edit_sentence_dependencies_url(@sentence)
  %p
    != render 'dependencies/show'

  - unless @semantic_tags.empty?
    .section-heading
      %h1 Semantic tags
    %p
      != semantic_tags_summary @semantic_tags

  .section-heading
    %h1 Information structure
    - if is_annotator?
      != link_to "(Edit)", edit_sentence_info_status_url(@sentence)
  %p
    != render 'info_statuses/show'

- if is_reviewer?
  %h2 Notes
  %ol
    - unless @notes.empty?
      != render partial: 'notes/summary', collection: @notes
    - @sentence.tokens.each do |token|
      - unless token.notes.empty?
        != render :partial => 'notes/summary', :collection => token.notes

  %h2 History
  != render 'audits/legend'
  %ol
    - unless @audits.empty?
      != render partial: 'audits/summary', collection: @audits
    - @sentence.tokens.each do |token|
      - unless token.audits.empty?
        != render :partial => 'audits/summary', :collection => token.audits

  %h2 Semantic tags
  - @sentence.tokens.each do |t|
    - unless t.semantic_tags.empty?
      != semantic_tags_summary t.semantic_tags
    - unless t.outgoing_semantic_relations.empty?
      != semantic_relations_summary t.outgoing_semantic_relations
    - unless t.incoming_semantic_relations.empty?
      != semantic_relations_summary t.incoming_semantic_relations

  %h2 Foreign keys
  %table
    - @sentence.tokens.each do |t|
      - unless t.foreign_ids.blank?
        %tr
          %td= t.id
          %td.tag= t.foreign_ids
