<% javascript "utils", "relations", "tree", "dependencies" %>
<% stylesheet "dependencies" %>

<div id="annotation" class="annotation">
  <%= hidden_field_tag 'input-tokens', @sentence.syntactic_annotation_with_tokens(params[:output])[:tokens].to_json %>
  <%= hidden_field_tag 'input-structure', @sentence.syntactic_annotation_with_tokens(params[:output])[:structure].to_json %>
  <%= hidden_field_tag 'input-relations', @sentence.syntactic_annotation_with_tokens(params[:output])[:relations].map(&:tag).to_json %>

  <div class="actions">
    <%= button_to_function "Delete subtree", :id => 'button-delete', :disabled => true %>
    <%= button_to_function "Cut subtree", :id => 'button-cut', :disabled => true %>
    <%= button_to_function "Paste subtree", :id => 'button-paste', :disabled => true %>
    <%= button_to_function "Clear", :id => "button-clear" %>
    <%= button_to_function "Reset", :id => "button-reset" %>
    <%= button_to_function "Add asyndetic conjunction", :id => "button-insert-empty-conjunction-node" %>
    <%= button_to_function "Add empty verbal node", :id => "button-insert-empty-verbal-node" %>
    <%= button_to_function "Add slash", :id => 'button-add-slash', :disabled => true %>
    <%= button_to_function "Remove slashes", :id => 'button-remove-slashes', :disabled => true %>
  </div>

  <div class="actions">
    <label>Build direction</label>
    <%= radio_button_to_function "direction", "down", true, "onChangeDirectionClick()", :id => 'build-down' %> Downwards
    <%= radio_button_to_function "direction", "up", false, "onChangeDirectionClick()", :id => 'build-up' %> Upwards
  </div>

  <div id="palette">
    <% @sentence.syntactic_annotation_with_tokens(params[:output])[:relations].each do |v| %>
      <label for="<%= v.tag %>">
        <input type="radio" name="relation-palette" id="<%= v.tag %>" value="<%= v.tag %>"></input>
        <span><%= readable_relation(v) %></span>
      </label>
    <% end %>
  </div>

  <div id="words">
    <% @sentence.tokens.morphology_annotatable.each do |t| %>
      <label for="word-<%= t.id %>">
        <input type="radio" name="token-palette" id="word-<%= t.id %>" value="<%= t.id %>"></input>
        <span><span class="form"><%= format_token_form(t) %></span><span class="token-number"><%= t.token_number %></span></span>
      </label>
    <% end %>
  </div>

  <!-- FIXME: the lang attribute here is a work-around. This will break if
       LangText is ever extended beyond simple language attribute handling. -->
  <ul id="relations" lang="<%= @sentence.language.tag %>" class="tree"></ul>

  <div class="actions">
    <% form_tag({ :controller => 'dependencies', :action => 'update', :sentence_id => @sentence, :wizard => params[:wizard]}, :method => :put, :id => 'dependencies-form') do -%>
      <%= hidden_field_tag 'output', '' %>
      <%= submit_tag 'Save' %>
    <% end %>
  </div>
</div>
