- javascript "dependencies"

%div{id: 'annotation-editor', class: 'annotation'}
  != hidden_field_tag 'data', @sentence.syntactic_annotation_with_tokens(params[:output]).to_json

  %div{class: 'actions'}
    %input{type: 'button', value: 'Delete subtree',            id: 'button-delete',                        disabled: true}
    %input{type: 'button', value: 'Cut subtree',               id: 'button-cut',                           disabled: true}
    %input{type: 'button', value: 'Paste subtree',             id: 'button-paste',                         disabled: true}
    %input{type: 'button', value: 'Clear',                     id: 'button-clear',                         disabled: false}
    %input{type: 'button', value: 'Reset',                     id: 'button-reset',                         disabled: false}
    %input{type: 'button', value: 'Add asyndetic conjunction', id: 'button-insert-empty-conjunction-node', disabled: false}
    %input{type: 'button', value: 'Add empty verbal node',     id: 'button-insert-empty-verbal-node',      disabled: false}
    %input{type: 'button', value: 'Add slash',                 id: 'button-add-slash',                     disabled: true}
    %input{type: 'button', value: 'Remove slashes',            id: 'button-remove-slashes',                disabled: true}

  %div{class: 'actions'}
    %label Build direction
    %input{type: 'radio', name: 'direction', value: 'down', id: 'build-down', checked: true}
    Downwards
    %input{type: 'radio', name: 'direction', value: 'up',   id: 'build-up',   checked: false}
    Upwards

  %div{id: 'palette'}

  %div{:id => "words"}
    - @sentence.tokens.takes_morphology.each do |t|
      %label{:for => "word-#{t.id}"}
        %input{:type => "radio", :name => "token-palette", :id => "word-#{t.id}", :value => t.id}
        %span
          %span{:class => "form"}
            != format_token_form(t)
          %span{:class => "token-number"}
            = t.token_number

  %ul{id: 'relations', lang: @sentence.language.tag, class: 'tree'}

  .button-row
    != form_tag({ controller: 'dependencies', action: 'update', sentence_id: @sentence, wizard: params[:wizard]}, method: :put, id: 'dependencies-form') do
      != hidden_field_tag 'output', ''
      != submit_tag 'Save'
