!= title "Sentence #{@sentence.id}"
!= breadcrumbs ['Home', root_path], @source, @source_division, @sentence, 'Edit information structure'
!= completion_rate @sentence.status

- if @sentence.has_previous?
  != link_to '', edit_sentence_info_status_path(@sentence.previous_object), :class => :previous, :accesskey => 'p'
- if @sentence.has_next?
  != link_to '', edit_sentence_info_status_path(@sentence.next_object), :class => :next, :accesskey => 'n'

!= render 'info_statuses/form'

  - if @sentence.is_reviewed?
    != render 'info_statuses/form'
  - else
    Sentence not yet annotated and reviewed.

  .annotation-actions
    %form
      != submit_tag "Save", :id => 'save'
    %span{:id => "server-message", :style => "width: 300px; margin-top: 5px; padding-left: 10px; padding-right: 10px"}
