<%= javascript 'info_statuses', 'prodrop', 'wz_jsgraphics', 'anaphora' %>
<% javascript_tag do -%>
  var authenticity_token = '<%= form_authenticity_token %>';
<% end -%>

<div id="prodrop-menu" style="position: absolute; width: 150px; border: 2px solid black; display:none">
  <div class="prodrop-menu-item sub">Insert pro-drop subject</div>
  <div class="prodrop-menu-item obj">Insert pro-drop object</div>
  <div class="prodrop-menu-item obl">Insert pro-drop oblique</div>
</div>

<%= render 'shared/location', :sentence => @sentence, :value => 'Information status' %>

<% if @sentence.is_reviewed? %>
  <%= render 'info_statuses/legend_edit' %>
  <%= render 'info_statuses/show' %>
<% else %>
  Sentence not yet annotated and reviewed.
<% end %>

<div class="annotation-actions">
  <form>
    <%= submit_tag "Save", :id => 'save' %>
  </form>
  <span id="server-message" style="width: 300px; margin-top: 5px; padding-left: 10px; padding-right: 10px"></span>
</div>
