<%= javascript 'info_statuses', 'prodrop', 'wz_jsgraphics', 'anaphora' %>
<% javascript_tag do -%>
  var authenticity_token = '<%= form_authenticity_token %>';
<% end -%>

<div id="prodrop-menu" style="position: absolute; width: 150px; border: 2px solid black; display:none">
  <div class="prodrop-menu-item sub">Insert pro-drop subject</div>
  <div class="prodrop-menu-item obj">Insert pro-drop object</div>
  <div class="prodrop-menu-item obl">Insert pro-drop oblique</div>
</div>

<%= render :partial => 'shared/location', :locals => { :sentence => @sentence, :title => 'Annotation', :value => 'Information status', :edit_url => :edit_sentence_info_status_url } %>

<% if is_annotator? or @sentence.is_reviewed? %>
  <% layer_if(is_reviewer?, "completion", :actions => [
                            link_to_unless(@sentence.is_reviewed?, "Flag as reviewed", :action => 'flag_as_reviewed', :id => @sentence),
                            link_to_if(@sentence.is_reviewed?, "Flag as not reviewed", :action => 'flag_as_not_reviewed', :id => @sentence),
    ] ) do -%>
    <%= format_annotator(@sentence, :time => true) %><br/>
    <%= format_reviewer(@sentence, :time => true) %>
  <% end %>

  <% layer("info-status", :title => "Information structure", :actions => [
    link_to("Show", sentence_info_status_url(@sentence))]) do -%>
    <%= render :partial => 'info_statuses/legend_edit' %>
    <%= render :partial => 'info_statuses/show' %>
  <% end %>

<% else %>
  Sentence not yet annotated and reviewed.
<% end %>

<div class="annotation-actions">
  <form>
    <%= submit_tag "Save", :id => 'save' %>
  </form>
  <span id="server-message" style="width: 300px; margin-top: 5px; padding-left: 10px; padding-right: 10px"></span>
</div>
