<tr>
  <td><%= link_to_user(user_stats.user, :role => true) %></td>
  <td><%= user_stats.annotated_sentences %>/<%= user_stats.annotated_tokens %></td>
  <td><%= user_stats.reviewed_sentences %>/<%= user_stats.reviewed_tokens %></td>
</tr>
