<tr>
  <td><%= lemma.language.name %></td>
  <td class="lemma" lang="<%= lemma.language.tag %>"><%= highlight(lemma.export_form, params[:query]) %></td>
  <td><%= lemma.pos_summary.capitalize %></td>
  <td><% if lemma.short_gloss %><q><%= lemma.short_gloss %></q><% else %>&nbsp;<% end %></td>
  <td><%= pluralize(lemma.tokens.count, 'token') %></td>
  <td><%= link_to 'Details', lemma %></td>
</tr>
