<tr class="<%= cycle('even', 'odd') %>">
  <td class="language"><%= link_to_language lemma.language %></td>
  <td class="lemma" lang="<%= lemma.language %>"><%= highlight(lemma.export_form, params[:query]) %></td>
  <td lang="<%= lemma.pos %>"><%= PROIEL::MorphTag.new(lemma.pos).descriptions([:major, :minor], true).join(", ").capitalize %></td>
  <td><% if lemma.short_gloss %><q><%= lemma.short_gloss %></q><% else %>&nbsp;<% end %></td>
  <td><%= pluralize(lemma.tokens.count, 'token') %></td>
  <td><%= link_to 'Details', lemma %></td>
</tr>
