<tr class="<%= cycle('even', 'odd') %>">
  <td class="lemma"><%= link_to_lemma(lemma) %></td>
  <td><% if lemma.short_gloss %><q><%= lemma.short_gloss %></q><% else %>&nbsp;<% end %></td>
  <td class="language"><%= readable_language(lemma.language) %></td>
  <td><%= lemma.frequency %> occurences</td>
</tr>
