<table>
  <tr>
    <th>Relation</th>
    <th>Head lemma</th>
    <th>Dependent lemma</th>
  </tr>
  <% @projections.each_pair do |rel, value| %>
    <% value.each do |t| %>
      <tr>
        <td><%= link_to(image_tag('zoom.png', :alt => 'Show sentence', :border => 'none'), :controller => 'dependencies', :action => 'structure', :source => t[:source], :sentence => t[:sentence]) %>&nbsp;<tt><%= rel %></tt></td>
        <% if rel == 'ROOT' %>
          <td>&nbsp;</td>
        <% else %>
          <td><em><%= link_lemma(t[:lemma]) %></em></td>
        <% end %>
        <td><em><%=h @lemma.lemma %></em></td>
      </tr>
    <% end %>
  <% end %>
  <% @dependents.each_pair do |rel, value| %>
    <% value.each do |t| %>
      <tr>
        <td><%= link_to(image_tag('zoom.png', :alt => 'Show sentence', :border => 'none'), :controller => 'dependencies', :action => 'structure', :source => t[:source], :sentence => t[:sentence]) %>&nbsp;<tt><%= rel %></tt></td>
        <td><em><%=h @lemma.lemma %></em></td>
        <td><em><%= link_lemma(t[:lemma]) %></em></td>
      </tr>
    <% end %>
  <% end %>
</table>
