<table>
  <tr>
    <th>Reference</th>
    <th>Head</th>
    <th>Dependents</th>
  </tr>
  <% @tokens.each do |t| %>
    <tr>
      <td><%= link_to_reference(t.reference) %>
      <td>
        <% if t.head %>
          <em><%= link_to t.head.form, t.head %></em> (<%= link_to_relation(t) %>)
        <% else %>
          ROOT (<%= link_to_relation(t) %>)
        <% end %>
      </td>
      <td>
        <% t.dependents.each do |t| %>
           <em><%= link_to t.form, t %></em> (<%= link_to_relation(t) %>)
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
