<section>
  <%= search_form_for @search do |f| %>
    <%= f.input :language_tag_eq, label: 'Language', collection: search_language_tags %>
    <%= f.input :lemma_wildcard_matches, label: 'Lemma base form' %>
    <%= f.input :variant_eq, label: 'Lemma variant', hint: '? matches any character, * any string' %>
    <%= f.input :part_of_speech_tag_eq, label: 'Part of speech', collection: search_part_of_speech_tags %>
    <%= f.button :submit, "Search" %>
  <% end %>
</section>

<section>
  <div class="container">
    <%= paginate @lemmata %>

    <div class="is-text-centered">
      <%= page_entries_info @lemmata, entry_name: 'matches' %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th><%= sort_link @search, :lemma, "Lemma" %></th>
          <th><%= sort_link @search, :part_of_speech_tag, "Part of speech" %></th>
          <th>Gloss</th>
        </tr>
      </thead>
      <tbody>
        <% @lemmata.each do |lemma| %>
          <tr>
            <td><%= link_to lemma.export_form, lemma, :lang => lemma.language.tag %></td>
            <td><%= lemma.pos_summary.capitalize %></td>
            <td><%= lemma.gloss %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
