<% roundedbox do -%>
  <dt>Lemma:</dt><dd><span class="lemma" lang="<%= @lemma.language.iso_code %>"><%= @lemma.export_form %></span></dd>
  <dt>Language:</dt><dd class="language"><%= link_to_language @lemma.language %></dd>
  <% if @lemma.pos %>
    <dt>Part of speech:</dt><dd><%= PROIEL::MorphTag.new(@lemma.pos).descriptions([:major, :minor], true).join(", ").capitalize %></dd>
  <% end %>
  <dt>Frequency:</dt><dd><%= pluralize(@lemma.tokens.count, 'token') %></dd>
  <% if @lemma.short_gloss %>
    <dt>Translation:</dt><dd><q><%= @lemma.short_gloss %></q></dd>
  <% end %>
  <% if @lemma.foreign_ids %>
    <dt>Foreign IDs:</dt><dd class="tag"><%= @lemma.foreign_ids %></dd>
  <% end %>
  <%= link_to_resources @lemma, :index, :edit %>
<% end %>

<% layer_unless @lemma.notes.empty?, "notes" do -%>
  <%= notes_summary(@lemma.notes) %>
<% end %>
 
<% layer_unless @lemma.audits.empty?, "revisions" do -%>
  <%= audits_summary @lemma.audits %>
<% end %>

<% layer_unless @semantic_tags.empty?, 'semantic_tags' do -%>
  <%= semantic_tags_summary(@semantic_tags) %>
<% end %>

<% layer_if @morphology_stats, 'morphology' do -%>
  <%= statistics "Morphology", "token", @morphology_stats %>
<% end %>

<% layer 'tokens' do -%>
  <%= render_tabular @tokens, :partial => 'annotations/annotation', :pagination => true, :class => 'concordance' %>
<% end %>
