<% roundedbox do -%>
  <dt>Lemma:</dt><dd><span class="lemma"><%= format_lemma_form(@lemma) %></span></dd>
  <dt>Language:</dt><dd><span class="language"><%= readable_language(@lemma.language) %></span></dd>
  <% if @lemma.pos %>
    <dt>Part of speech:</dt><dd><%= PROIEL::MorphTag.new(@lemma.pos).descriptions([:major, :minor], true).join(", ").capitalize %></dd>
  <% end %>
  <dt>Frequency:</dt><dd><%= pluralize(@lemma.tokens.count, 'tokens') %></dd>
  <% if @lemma.short_gloss %>
    <dt>Translation:</dt><dd><q><%= @lemma.short_gloss %></q></dd>
  <% end %>
<% end %>

<% layer_unless @lemma.notes.empty?, "notes" do -%>
  <%= notes_summary(@lemma.notes) %>
<% end %>
 
<% layer 'tokens' do -%>
  <%= render_tabular @tokens, :partial => 'annotations/annotation', :pagination => true, :class => 'concordance' %>
<% end %>
