- context_bar do
  .breadcrumbs
    != breadcrumbs ['Dictionary', lemmata_path], @lemma
  .resources
    != link_to_resources @lemma, :edit

- layer_if((is_reviewer? and !@mergeable_lemmata.empty?), "similar_lemmata") do
  %ul
    - @mergeable_lemmata.each do |l|
      %li
        != link_to l.export_form, l
        (#{l.pos_summary})
        - unless l.gloss.nil?
          '#{l.gloss}'
        != button_to "Merge", :action => 'merge', :id => @lemma, :other_id => l.id

- layer_unless @lemma.notes.empty?, "notes" do
  != notes_summary @lemma.notes

!= semantic_tags_summary @semantic_tags

.tabular
  != paginate @tokens
  .pagination-totals
    != page_entries_info @tokens, :entry_name => 'tokens'

%table.ui.table
  %thead
    %tr
      %th= "Location"
      %th{colspan: 3}= "Match"
  %tbody
    != render :partial => 'annotations/annotation', :collection => @tokens

- layer_if  (is_reviewer? and !@lemma.audits.empty?), "revisions" do
  != audits_summary @lemma.audits
