<h2>Register a new account</h2>

<% semantic_form_for resource_name, resource, :url => registration_path(resource_name) do |f| %>
  <%= f.error_messages %>
  <%= f.input :login, :label => 'User name' %>
  <%= f.input :email, :label => 'E-mail address' %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit "Register" %>
<% end %>

<%= render "shared/devise_links" %>
