<div class="roundedbox">
  <b><%=h sentence.citation %>:</b>
  <%= value %> <%= readable_completion(sentence, :checkmark => :only) %><br/>
  <%= annotation_navigation_links(sentence, edit_url) %>&nbsp;
  <%= external_text_links(sentence) %>&nbsp;

  <% if is_reviewer? %>
    <%= link_to("Low-level sentence data", sentence_url(@sentence)) %>
  <% end %>
  &nbsp;
  <% if controller.class == InfoStatusesController %>
    <%= link_to("Sentence divisions, morphology and dependency structure", annotation_url(@sentence)) %>
  <% end %>
  &nbsp;
  <% if is_administrator? && controller.class != InfoStatusesController %>
    <%= link_to("Information structure", annotation_info_status_url(@sentence)) %>
  <% end %>
  &nbsp;
  <% if controller.class != DependencyAlignmentsController %>
    <%= link_to("Dependency alignment", edit_annotation_dependency_alignments_url(@sentence)) %>
  <% end %>
</div>
