<tr>
  <td class="foreign-word"><%= format_token_form(token) %></td>
  <td><%= readable_token_sort(token.sort) %></td>
  <td><%= readable_reference(token.reference) %></td>
  <td><%= token.morph_lemma_tag %></td>
  <td><%= link_to 'Details', token %></td>
</tr>
