<tr class="<%= cycle('even', 'odd') %>">
  <td class="form" lang="<%= token.language.iso_code %>"><%= highlight(token.form, params[:query]) || '&nbsp;' %></td>
  <td><%= token.token_number %></td>
  <% if token.morph_features %>
    <td><%= token.morph_features.pos_summary.capitalize %></td>
    <td><%= token.morph_features.morphology_summary(:abbreviated => true).capitalize %></td>
    <td><%= link_to_lemma(token.lemma) %></td>
  <% else %>
    <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
  <% end %>
  <td class="tag"><%= token.empty_token_sort %></td>
  <td><%= link_to 'Details', token %></td>
</tr>
