<% context_bar do %>
  <div class="breadcrumbs"
    <%= breadcrumbs 'Search' %>
  </div>
  <p>
    <% unless @tokens.empty? or @search.result.count > 5000 %>
      <%= link_to 'Download results as CSV', params.merge(format: :csv) %>
      <%= link_to 'Download results as text file', params.merge(format: :txt) %>
    <% end %>
  </p>
<% end %>

<%= search_form_for @search do |f| %>
  <%= f.input :sentence_source_division_source_language_tag_eq, label: 'Language',           collection: search_language_tags %>
  <%= f.input :sentence_source_division_source_id_eq,           label: 'Source',             collection: search_sources %>
  <%= f.input :sentence_status_tag_eq,                          label: 'Sentence status',    collection: search_status_tags %>
  <%= f.input :form_wildcard_matches,                           label: 'Token form',         hint: '? matches any character, * any string' %>
  <%= f.input :lemma_lemma_wildcard_matches,                    label: 'Lemma form',         hint: '? matches any character, * any string' %>
  <%= f.input :lemma_variant_eq,                                label: 'Lemma variant' %>
  <%= f.input :lemma_part_of_speech_tag_eq,                     label: 'Part of speech',     collection: search_part_of_speech_tags  %>
  <%= f.input :relation_tag_eq,                                 label: 'Relation',           collection: search_relation_tags %>
  <%= f.input :information_status_tag_eq,                       label: 'Information status', collection: search_information_status_tags %>

  <% MorphFeatures::MORPHOLOGY_PRESENTATION_SEQUENCE.each_with_index do |field, i| %>
    <% if i < 5 %>
      <%= f.input "morphology_tag_char#{MorphFeatures::MORPHOLOGY_POSITIONAL_TAG_SEQUENCE.index(field)}_matches", label: field.to_s.capitalize, collection: search_morphology_field_tags(field) %>
    <% end %>
  <% end %>

  <% MorphFeatures::MORPHOLOGY_PRESENTATION_SEQUENCE.each_with_index do |field, i| %>
    <% if i >= 5 %>
      <%= f.input "morphology_tag_char#{MorphFeatures::MORPHOLOGY_POSITIONAL_TAG_SEQUENCE.index(field)}_matches", label: field.to_s.capitalize, collection: search_morphology_field_tags(field) %>
    <% end %>
  <% end %>

  <%= f.button :submit, 'Search' %>
<% end %>

<% if params[:q] and @tokens %>
  <% if @search.result.count > 5000 %>
    <%= @search.result.count %> results found. Please narrow your query to 5000 results.
  <% else %>
    <%= paginate @tokens, params: params %>

    <div class="is-text-centered">
      <%= page_entries_info @tokens, entry_name: 'matches' %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th><%= sort_link @search, :location, "Location" %></th>
          <th colspan='3'><%= sort_link @search, :form, "Match" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'annotations/annotation', collection: @tokens %>
      </tbody>
    </table>
  <% end %>
<% end %>
