- context_bar do
  %p.breadcrumbs
    != breadcrumbs @source, @source_division, @sentence, @token
    != completion_rate @token.status
  .resources
    != link_to_resources @token, :edit, :previous, :next
  %p
    != external_text_links @token.sentence

%table.ui.collapsing.definition.table
  - if @token.form
    %tr
      %td Form
      %td
        != format_token_form @token
  - if @token.is_morphtaggable? and @token.morph_features
    %tr
      %td Part of speech
      %td= @token.morph_features.pos_summary.capitalize
    %tr
      %td Morphology
      %td= @token.morph_features.morphology_summary.capitalize
    %tr
      %td Lemma
      - if @token.lemma
        %td!=link_to_lemma @token.lemma
      - else
        &nbsp;
  - if @token.relation
    %tr
      %td Dependency relation:
      %td!= readable_dependency @token.relation, (@token.head ? link_to(@token.head.id, @token.head) : nil)
  - if @token.foreign_ids
    %tr
      %td Foreign IDs:
      %td.tag= @token.foreign_ids

- layer_unless @notes.empty?, "notes" do
  != notes_summary @notes

- layer_unless @semantic_tags.empty?, 'semantic_tags' do
  != semantic_tags_summary @semantic_tags

- layer_unless @outgoing_semantic_relations.empty?, 'outgoing_semantic_relations' do
  != semantic_relations_summary @outgoing_semantic_relations

- layer_unless @incoming_semantic_relations.empty?, 'incoming_semantic_relations' do
  != semantic_relations_summary @incoming_semantic_relations

- layer_if (is_reviewer? and !@audits.empty?), "revisions" do
  != audits_summary @audits
