<% stylesheet 'buttons' %>

<% layer("completion", 
         :title => 'Annotation progress',
         :actions => [link_to("See all annotated sentences", annotations_url)]) do -%>

  <div class="button-block">
    <%= show_link_to_for_role :annotator,  content_tag(:span, 'Start annotating'), 
          { :controller => :wizard, :wizard => { :level => :annotation } },
          :class => 'button' %>
    <%= show_link_to_for_role :reviewer, content_tag(:span, 'Start reviewing'), 
          { :controller => :wizard, :wizard => { :level => :review } },
          :class => 'button' %>
    <br/>
  </div>

  <%= render :partial => 'statistics/activity' %>
  <%= render :partial => 'statistics/completion' %>
<% end %>

<% reset_cycle %>
<% layer_unless(@recent_annotations.empty?, "recent-annotations", 
    :title => 'Your recent sentence annotations') do -%>
  <%= render_tabular @recent_annotations, 
    :pagination => false, 
    :partial => 'annotations/annotation',
    :fields => [ 'Location', 'Sentence' ] %>
<% end %>

<% reset_cycle %>
<% layer_unless(@recent_reviews.empty?, "recent-reviews", 
    :title => 'Your recent sentence reviews') do -%>
  <%= render_tabular @recent_reviews, 
    :pagination => false, 
    :partial => 'annotations/annotation',
    :fields => [ 'Location', 'Sentence' ] %>
<% end %>

<% reset_cycle %>
<% layer_unless(@recent_reviewed.empty?, "recent-reviewed", 
    :title => 'Your recently reviewed sentences') do -%>
  <%= render_tabular @recent_reviewed, 
    :pagination => false, 
    :partial => 'annotations/annotation',
    :fields => [ 'Location', 'Sentence' ] %>
<% end %>
