<% form_tag :action => 'search' do -%>
  <p style="text-align: center">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search' %>
  </p>
  <p style="text-align: center">
    <%= radio_button_tag :mode, 'tokens', params[:mode] == 'tokens' %>&nbsp;<label>Word forms</label>
    <%= radio_button_tag :mode, 'lemmata', params[:mode] == 'lemmata' %>&nbsp;<label>Lemmata</label>
    <%= check_box_tag :exact, 'yes', params[:exact] %>&nbsp;<label>Only exact matches</label>
  </p>
<% end %>

<% if @tokens %>
  <%= render_tabular @tokens, :partial => 'annotations/annotation', :pagination => true,
      :class => 'concordance' %>
<% end %>

<% if @lemmata %>
  <%= render_tabular @lemmata, :partial => 'lemmata/lemma', :pagination => true %>
<% end %>
