<% search_form_tag :controller => :home, :action => :search do -%>
  <%= text_field_tag :query, params[:query] %>
  <%= radio_button_tag :mode, 'tokens', params[:mode] == 'tokens' %>&nbsp;<label>Word forms</label>
  <%= radio_button_tag :mode, 'lemmata', params[:mode] == 'lemmata' %>&nbsp;<label>Lemmata</label>
<% end %>

<% if @tokens %>
  <%= render_tabular @tokens, nil, :partial => 'annotations/annotation', :css_class => 'concordance' %>
<% end %>

<% if @lemmata %>
  <%= lemmata_table @lemmata %>
<% end %>
