<% layer('history', :title => 'History') do -%>
  <ul style="list-style: lower-greek">
    <li><%= link_to 'History', audits_url %></li>
  </ul>
<% end %>

<% layer('users', :title => 'User administration') do -%>
  <ul style="list-style: armenian">
    <li><%= link_to 'Users', :controller => :users %></li>
  </ul>
<% end %>
 
<% layer('low-level', :title => 'Low-level data access') do -%>
  <ul style="list-style: upper-roman">
    <li><%= link_to 'Sentences', :controller => :sentences %></li>
    <li><%= link_to 'Tokens', :controller => :tokens %></li>
    <li><%= link_to 'Lemmata', :controller => :lemmata %></li>
    <li><%= link_to 'Notes', :controller => :notes %></li>
  </ul>
<% end %>
