<h1>Application help</h1>

<h2>User guides</h2>

<ul>
  <li><%= link_to "Searching", site_path('searching') %></li>
  <li><%= link_to "Keyboard short-cuts", site_path('short_cuts') %></li>
  <li><a href="http://folk.uio.no/daghaug/syntactic_guidelines.pdf">Guidelines for syntactic annotation</a></li>
  <li><%= link_to "Font setup", site_path('fonts') %></li>
  <li><%= link_to "Known issues", site_path('known_issues') %></li>
  <li><%= link_to "Attributions", site_path('attributions') %></li>
</ul>

<h2>Technical information</h2>

<ul>
  <li><%= link_to "Change log", site_path('change_log') %></li>
  <li><%= link_to "Maintenance functions", site_path('maintenance') %></li>
</ul>
