%h1 Downloads

%p
  These data files are generated daily from the subset of our data that has been
  reviewed. The data files are released under the
  != link_to "Creative Commons Attribution-Noncommercial-Share Alike 3.0", "http://creativecommons.org/licenses/by-nc-sa/3.0/us/"
  license. Please see each text for a list of contributors.

%ul
  %li
    != link_to "Schema file", "/exports/proiel.xsd"

%table
  - Source.all.each do |s|
    %tr
      %td= s.author_and_title
      %td!= link_to "PROIEL format", "/exports/#{s.human_readable_id}.xml"
      %td!= link_to "TigerXML format", "/exports/#{s.human_readable_id}.tiger"
      %td!= link_to "CoNLL format", "/exports/#{s.human_readable_id}.conll"
      %td!= link_to "Text format", "/exports/#{s.human_readable_id}.txt"
