%h1 Downloads

%p
  These data files are generated daily from the subset of our data that has been
  reviewed. The data files are released under the
  != link_to "Creative Commons Attribution-Noncommercial-Share Alike 3.0", "http://creativecommons.org/licenses/by-nc-sa/3.0/us/"
  license. Please see each text for a list of contributors.

%ul
  %li
    != link_to "Schema file", "/exports/text.xsd"

  - Source.all.each do |s|
    %li
      = s.author_and_title
      %ul
        %li
          != link_to "PROIEL XML", "/exports/#{s.code}.xml"
        %li
          != link_to "TigerXML", "/exports/#{s.code}-tiger.xml"
        %li
          != link_to "CoNLL shared task format", "/exports/#{s.code}.conll"
