%li
  Revision
  != summary.version
  of object
  != link_to_auditable summary.auditable
  created at
  = summary.created_at
  by
  != link_to_audit_user summary.user

  - if summary.auditable.audits.last == summary
    != link_to '(Revert this change)', audit_path(summary), :method => :delete, :confirm => 'The object will be reverted to its previous revision and the audit deleted. Are you sure?'

  != render :partial => 'audits/diff', :object => summary
