%article.media
  .media-content
    .content
      %p
        %strong
          = summary.user ? summary.user.full_name : 'System'
        ·
        = summary.created_at
        %br
        - if summary.action == 'destroy'
          Deleted
          = "#{summary.auditable_type} #{summary.auditable_id}"
        - else
          Created revision
          != summary.version
          of
          != link_to_auditable summary.auditable
          %br
          %table.table.diff.is-narrow.is-bordered
            %tbody
              - summary.audited_changes.each do |attribute, (old, new)|
                %tr
                  %td.attribute=attribute
                  %td.old=old
                  %td.new=new
