%li
  Revision
  != summary.version
  of object
  != link_to_auditable summary.auditable
  created at
  = summary.created_at
  by
  != link_to_audit_user summary.user

  - if summary.auditable.audits.last == summary
  != render :partial => 'audits/diff', :object => summary
