- if params[:sentence_id]
  Showing changes relating to sentence
  != params[:sentence_id]
- elsif params[:user_id]
  Showing changes by user
  != @user.login

.tabular
  != paginate @audits

  %table.ui.table.segment
    %thead
      %tr
        %th Created by
        %th Created at
        %th Changed object

    %tbody
      - @audits.each do |audit|
        %tr
          %td.user!= link_to_audit_user audit.user
          %td.timestamp= audit.created_at
          %td!= link_to_auditable audit.auditable
