<div class="roundedbox">
  <dl>
    <dt>Audit ID:</dt><dd><%= @audit.id %></dd>
    <dt>User:</dt><dd><%= link_to_audit_user(@audit.user) %></dd>
    <dt>Changed object:</dt><dd><%= link_to_auditable(@audit.auditable) %></dd>
    <dt>Created at:</dt><dd><%= @audit.created_at %></dd>
  </dl>
  <%= link_to 'Index', audits_url, :class => :index %>
  <%= link_to_if @audit.latest_revision_of_auditable?, 'Revert', @audit, :method => :delete, :confirm => 'The object will be reverted to its previous revision and the audit deleted. Are you sure?', :class => :delete %>
</div>

<%= render :partial => 'legend' %>
<%= render :partial => 'diff', :object => @audit %>
