%h1
  Preferences

- form_tag '/preferences', :method => 'put' do
  %ul
    %li
      Image format for dependency graphs:
      %p
        - %w(png svg).each do |method|
          %label{:for => "preferences_graph_format_#{method}"}>
            != radio_button_tag("preferences[graph_format]", method, @preferences[:graph_format] == method)
            = t ".#{method}"
    %li
      Visualization method for dependency graphs:
      %p
        - %w(unsorted linearized packed full).each do |method|
          %label{:for => "preferences_graph_method_#{method}"}
            != radio_button_tag("preferences[graph_method]", method, @preferences[:graph_method] == method)
            = t ".#{method}"

  != submit_tag 'Save'
