<h2>Set new password</h2>

<% semantic_form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.input :password %></p>
  <%= f.input :password_confirmation %>
  <%= f.submit "Update" %>
<% end %>

<%= render "shared/devise_links" %>
