<% javascript "view" %>

<p>
  <%= source_paginate(Source.find(:all), @source, @book, @chapter) %>
  <%= book_paginate(@source, @book, @chapter) %>
  <%= chapter_paginate(@source, @book, @chapter, @chapter_min, @chapter_max) %>
</p>

<div class="actions" style="text-align: center">
  <label>Chapter numbers</label>
  <%= check_box_tag 'chapter_numbers', 'yes', true, :id => 'chapter-numbers' %>
  <label>Verse numbers</label>
  <%= check_box_tag 'verse_numbers', 'yes', true, :id => 'verse-numbers' %>
  <label>Sentence numbers</label>
  <%= check_box_tag 'sentence_numbers', 'yes', true, :id => 'sentence-numbers' %>
  <label>Token numbers</label>
  <%= check_box_tag 'token_numbers', 'yes', true, :id => 'token-numbers' %>
</div>

<div class="text-view">
  <%= format_sentence(@tokens, { :chapter_numbers => true, 
                         :verse_numbers => :noninitial,
                         :sentence_numbers => true,
                         :token_numbers => true, } ) %>
</div>
