<% roundedbox do -%>
  <%=h @source_division.citation %> <%= show_completion_rate(@source_division.completion, :checkmark => :only) %><br/>
  <%= link_to_resources @source_division, :previous, :next, :index, :statistics, :edit, :parent %>
  <%= link_to_if @source_division.aligned_source_division, "Sentence alignments", alignment_path(@source_division) %>
<% end %>

<div class='page_info'><%= page_entries_info(@sentences) %></div><%= will_paginate(@sentences) %>
<div class="text-view">
  <%= @source_division.presentation_as_html %>
</div>

<%= render_tabular @sentences, ['Location', 'Text', '&nbsp;'] %>

<% layer_if(is_reviewer?, "low_level_data") do -%>
  <%= low_level_data_table(@source_division, :id, :position, :source, :title, :abbreviated_title, :aligned_source_division, :presentation, :reference_fields, :created_at, :updated_at) %>
<% end %>
