- context_bar do
  .breadcrumbs
    != breadcrumbs 'Search'

= semantic_form_for @search, :url => search_path, :method => :get do |f|
  = f.inputs do
    != f.input :form_wildcard_matches, :label => 'Token form', :required => false, :hint => 'Use ? to match any character or * to match any string'
    - if Source.represented_languages.count > 1
      != f.input :sentence_source_division_source_language_tag_equals, :label => 'Language', :collection => Source.represented_languages, :required => false
    - if Source.all.count > 1
      != f.input :sentence_source_division_source_id_equals, :label => 'Source', :collection => Source.all.sort_by(&:to_label), :required => false
    != f.input :lemma_lemma_wildcard_matches, :label => 'Lemma base form', :required => false, :hint => 'Use ? to match any character or * to match any string'
    != f.input :lemma_variant_equals, :label => 'Lemma variant number', :hint => 'An integer number differentiating this lemma from other lemmata with the same base form and part of speech.', :required => false
    != f.input :lemma_part_of_speech_tag_equals, :label => 'Part of speech', :collection => Lemma.represented_parts_of_speech, :required => false
    != f.input :relation_id_equals, :label => 'Relation', :collection => Relation.all.sort_by(&:to_label), :required => false

  = f.actions do
    != f.submit "Search"

- if @tokens
  != will_paginate @tokens, :params => params

  %table.concordance
    %tbody.odd-even-line
      != render :partial => 'annotations/annotation', :collection => @tokens
