<tr>
  <% stylesheet 'concordance' %>

  <td class="reference">
    <%= annotation.citation %>
    <%= readable_completion(annotation.sentence, :checkmark => :only) %>
  </td>
  <td class="left"><%= format_sentence(annotation.previous_tokens, :length_limit => -5, :ignore_links => true) %></td>
  <td class="centre highlight"><%= format_token_form(annotation) %></td>
  <td class="right"><%= format_sentence(annotation.next_tokens, :length_limit => 5, :ignore_links => true) %></td>
  <td><%= link_to 'Details', annotation.sentence %></td>
</tr>
