%tr
  %td.reference
    != link_to annotation.citation, annotation.sentence
    != completion_rate annotation.sentence.status
  %td.right.aligned
    != format_sentence annotation.previous_objects, length_limit: -5, single_line: true
  %td.center.aligned.highlight
    != format_token_form annotation
  %td.left.aligned
    != format_sentence annotation.next_objects, length_limit: 5, single_line: true
