<% stylesheet 'alignment' %>
<% javascript "prototype", "scriptaculous", "utils", "effects", "dragdrop", "controls" %>
<% javascript 'alignment' %>

<% javascript_tag do -%>
  var authenticity_token = '<%= form_authenticity_token %>';
<% end -%>

<table class="alignment" id="alignment-view">
  <% @alignments.each do |a| %>
    <tr>
      <td>
        <% a.left.each do |sentence_group| %>
          <% sentence_group.each do |sentence| %>
            <div id="sentence-<%= sentence.id %>" class="droppable">
              <%= format_sentence(sentence, { :sentence_numbers => true }) %>
            </div>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if a.right.first %>
          <%= unalignable_button a.right.first.first %>
          <%= unanchor_button a.right.first.first %>
        <% end %>

        <% a.right.each do |sentence_group| -%>
          <% sentence_group.each do |sentence| -%>
            <% if sentence.unalignable %>
              <%= alignable_button sentence %>
            <% end %>
            <div id="sentence-<%= sentence.id %>" class="draggable">
              <%= format_sentence(sentence, { :sentence_numbers => true }) %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
