<div class="roundedbox">
  <dl>
    <dt>Sources:</dt><dd><%= link_to_source(@source_division.aligned_source_division.source) %> and <%= link_to_source(@source_division.source) %></dd>
    <dt>Part:</dt><dd><%=h @source_division.title %></dd>
  </dl>
</div>

<%= render 'alignment' %>

<div style="text-align: center">
  <%= button_to "Save automatic alignments", commit_alignment_path(@source_division.id),
    :id => 'button-commit', :disabled => false %>
    <%= button_to "Remove automatic alignments", uncommit_alignment_path(@source_division.id),
      :id => 'button-uncommit', :disabled => false %>
</div>
