.roundedbox
  %dl
    %dt Sources:
    %dd
      != link_to_source(@source_division.aligned_source_division.source)
      and
      != link_to_source(@source_division.source)
    %dt Part:
    %dd
      = @source_division.title

!= render 'alignment'

%div{:style=>"text-align: center"}
  != button_to "Save automatic alignments", commit_alignment_path(@source_division.id), :id => 'button-commit', :disabled => false
  != button_to "Remove automatic alignments", uncommit_alignment_path(@source_division.id), :id => 'button-uncommit', :disabled => false
