<% stylesheet 'alignments' %>

<%= make_information_box([
  [ 'Location', @sentence.reference.classical_reference ],
  [ 'External links', external_text_links(@sentence.reference) ], 
]) %>

<div class="alignment">
  <div class="context before">
    <%= format_sentence_for_alignment(@standard_sentence_before, :standard) %>
    <%= format_sentence_for_alignment(@sentence_before, :comparison) %>
  </div>

  <div class="focus">
    <%= format_sentence_for_alignment(@standard_sentence_x, :standard) %>
    <span class="comparison">
      <%= format_sentence_for_alignment(@sentence_x) %>
    </span>
  </div>

  <div class="context after">
    <%= format_sentence_for_alignment(@standard_sentence_after, :standard) %>
    <%= format_sentence_for_alignment(@sentence_after, :comparison) %>
  </div>
</div>

<div class="annotation-actions">
  <%= wizard_options(edit_alignment_path(@sentence), params[:wizard]) %>
  <%= button_to 'Flag bad sentence alignment', :action => 'flag_bad_alignment', :wizard => params[:wizard] %>
</div>
