.roundedbox
  %dl
    %dt Sources:
    %dd
      != link_to_source(@source_division.aligned_source_division.source)
      and
      != link_to_source(@source_division.source)
    %dt Part:
    %dd= @source_division.title

  != link_to "Edit alignments", edit_alignment_path(@source_division), class: 'edit'

%table.alignment#alignment-view
  - @alignments.each do |a|
    %tr
      %td
        - a.left.each do |sentence|
          != format_sentence(sentence, sentence_numbers: true)
      %td
        - a.right.each do |sentence|
          != format_sentence(sentence, sentence_numbers: true)
