- javascript 'dynamic_pos', 'morphtags'

!= hidden_field_tag "token-ids", @sentence.tokens.takes_morphology.pluck(:id).to_json
!= hidden_field_tag "form-language", @sentence.language.tag

.morphtags
  %div{:id => "palette", :style => "display: none"}
    %label Fields:
    %span{:id => "fields"}
      - ([:pos] + MorphFeatures::MORPHOLOGY_PRESENTATION_SEQUENCE).each do |field|
        %select{:id => "#{field}_field", :name => "#{field}_field"}
      != text_field_with_auto_complete :morphtags, :lemma, { :size => 15 }, :with => "'morphtags[lemma]=' + encodeURIComponent(element.value) + '&morphtags[language]=#{@sentence.language.tag}'"
    != button_to_function "Update", "onPaletteUpdate()"

  %div{:id => "guesses"}

  != render 'morphtags/legend'

  #tokens
    - @sentence.morphological_annotation(params).each do |token, suggestions|
      .item{:id => "item-#{token.id}", :onclick => "onTokenSelect(#{token.id})"}
        .form!= format_token_form token
        .morph-lemma-tags{:class => token.changed? ? (suggestions.length > 1 ? 'mambiguous' : 'munambiguous') : 'mannotated'}
          .pos &nbsp;
          .morphology &nbsp;
          .lemma{:lang => @sentence.language.tag} &nbsp;
        != hidden_field_tag "morph-features-#{token.id}", token.morph_features.to_s
        != hidden_field_tag "suggestions-#{token.id}", suggestions.map(&:to_s).to_json
    %br
