<% stylesheet 'morphtags' %>

<div class="morphtags">
  <div id="tokens">
    <% for token in @sentence.word_tokens %>
      <div id="item-<%= token.id %>" class="item">
        <p class="form"><%= token.form %></p>
        <div class="morph-lemma-tags <%= (token.morphtag and token.lemma_id) ? 'mannotated' : 'munannotated' %>">
          <p class="pos">&nbsp;<%= morphtag_pos(token) %></p>
          <p class="morphology">&nbsp;<%= morphtag_non_pos(token) %></p>
          <% if token.lemma %>
            <p>(<%= link_to(token.lemma.to_s, lemma_path(token.lemma) )%><% if token.lemma.short_gloss %> <q><%= token.lemma.short_gloss %></q><% end %>)</p>
          <% else %>
            <p>&nbsp;</p>
          <% end %>
        </div>
      </div>
    <% end %>

    <br/>
  </div>
</div>
