<% stylesheet 'morphtags' %>
<% javascript "dynamic_pos/#{@language_code}", 'morphtags' %>

<%= render :partial => 'shared/location', :locals => { :sentence => @sentence, :title => 'Annotation', :value => 'Morphology', :edit_url => :edit_annotation_morphtags_url } %>

<% form_tag({ :controller => 'morphtags', :action => 'update', :annotation_id => @sentence, :wizard => params[:wizard]}, :id => "morphtag-form", :method => :put) do -%>
  <%= hidden_field_tag "token-ids", @sentence.tokens.morphology_annotatable.map(&:id).to_json %>

  <div class="morphtags">
    <div id="palette" style="display: none">
      <label>Fields:</label>
      <span id="fields">
        <% ([:pos] + MorphFeatures::MORPHOLOGY_PRESENTATION_SEQUENCE).each do |field| -%>
          <select id="<%= field %>_field" name="<%= field %>_field"></select>
        <% end %>
        <%= text_field_with_auto_complete :morphtags, :lemma, { :size => 15 }, :with => "'morphtags[lemma]=' + encodeURIComponent(element.value) + '&morphtags[language]=#{@language_code}'" %>
      </span>
      <%= button_to_function "Update", "onPaletteUpdate()" %>
    </div>

    <div id="guesses">
    </div>

    <%= render :partial => 'legend' %>

    <div id="tokens">
      <% @token_data.each do |token, set, suggestions, state| %>
        <div id="item-<%= token.id %>" class="item" onclick="onTokenSelect(<%= token.id %>)">
          <p class="form"><%= format_token_form(token) %></p>
          <div class="morph-lemma-tags <%= state %>">
            <p class="pos">&nbsp;</p>
            <p class="morphology">&nbsp;</p>
            <p class="lemma" lang="<%= @language %>">&nbsp;</p>
          </div>
          <%= hidden_field_tag "morph-features-#{token.id}", set.to_s %>
          <%= hidden_field_tag "suggestions-#{token.id}", suggestions.map(&:to_s).to_json %>
        </div>
      <% end %>

      <br/>
    </div>
  </div>

  <%= submit_tag "Save" %>
  <%= wizard_options(nil, params[:wizard]) %>
<% end %>
