!= breadcrumbs ['Annotation', wizard_path], @source, @source_division, @sentence, 'Edit morphology'
!= completion_rate @sentence.status
!= " (#{remaining_assigned_sentences} remaining)"
!= external_text_links @sentence

#morphology-view.interlinear{"data-sentence-id": @sentence.id}
  != render 'morphtags/component'

!= button_to 'Continue to syntax', action: 'edit_dependencies'
!= button_to 'Skip this sentence', action: 'next_sentence'
