- context_bar do
  .breadcrumbs
    != breadcrumbs ['Annotation', wizard_path], @source, @source_division, @sentence, 'Edit morphology'
    != completion_rate @sentence.status
    != " (#{remaining_assigned_sentences} remaining)"
  %p
    != external_text_links @sentence

!= form_tag({ :controller => 'morphtags', :action => 'update', :sentence_id => @sentence, :wizard => true}, :id => "morphtag-form", :method => :put) do
  != render 'morphtags/form'
  != submit_tag 'Save'

!= button_to 'Skip', :action => 'next_sentence'
