- javascript 'dependency_alignment'
- stylesheet 'dependency_alignment'

.roundedbox
  %dl
    %dt Sentences:
    %dd
      != link_to_sentence @aligned_sentence, 'Primary')
      and
      != link_to_sentence @sentence, 'Secondary'
  != link_to_if @sentence.has_previous?, 'Show previous', sentence_dependency_alignments_path(@sentence.previous_object), :class => :previous
  != link_to_if @sentence.has_next?, 'Show next', sentence_dependency_alignments_path(@sentence.next_object), :class => :next

%table#texts"
  %tr
    %td
      #primary
        %table
          %tr
            %th= @aligned_sentence.citation
          - @aligned_sentence.tokens.takes_syntax.each do |t|
            %tr
              %td.groupable{:id => "w#{t.id}", :lang => t.language.tag}= t.form
    %td
      #secondary
        %table
          %tr
            %th= @sentence.citation
          - @sentence.tokens.takes_syntax.each do |t|
            %tr
              %td.selectable.groupable{:id => "w#{t.id}", :lang => t.language.tag}= t.form
  %tr
    %td
      &nbsp;
    %td#edge_count
