<% javascript 'dependency_alignment' %>
<% stylesheet 'dependency_alignment' %>

<% javascript_tag do -%>
  var authenticity_token = '<%= form_authenticity_token %>';
<% end -%>

<div class="roundedbox">
  <dl>
    <dt>Sentences:</dt><dd><%= link_to_sentence(@aligned_sentence, 'Primary') %> and <%= link_to_sentence(@sentence, 'Secondary') %></dd>
  </dl>
  <%= link_to_if @sentence.has_previous_sentence?, 'Show previous', annotation_dependency_alignments_path(@sentence.previous_sentence), :class => :previous %>
  <%= link_to_if @sentence.has_next_sentence?, 'Show next', annotation_dependency_alignments_path(@sentence.next_sentence), :class => :next %>
</div>

<table id="texts">
  <tr>
    <td>
      <div id="primary">
        <table>
          <tr><th><%= @aligned_sentence.citation %></th></tr>
          <% @aligned_sentence.tokens.dependency_annotatable.each do |t| %>
            <tr><td id="w<%= t.id %>" class="groupable" lang="<%= t.language.iso_code %>"><%= t.form %></td></tr>
          <% end %>
        </table>
      </div>
    </td>

    <td>
      <div id="secondary">
        <table>
          <tr><th><%= @sentence.citation %></th></tr>
          <% @sentence.tokens.dependency_annotatable.each do |t| %>
            <tr><td id="w<%= t.id %>" class="selectable groupable" lang="<%= t.language.iso_code %>"><%= t.form %></td></tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  <tr><td>&nbsp;</td><td id="edge_count"></td></tr>
</table>
