!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %title
      - if show_title?
        = ['The PROIEL corpus', yield(:title)].join(': ')
      - else
        The PROIEL corpus

    != favicon_link_tag

    %link{:rel => 'search', :type => 'application/opensearchdescription+xml', :title => 'Search the PROIEL corpus', :href => '/search.xml'}
    %link{:rel => 'contents', :href => '/'}
    %link{:rel => 'index', :href => '/sentences'}
    %link{:rel => 'glossary', :href => '/lemmata'}

    %link{:rel => 'schema.DC', :href => 'http://purl.org/dc/elements/1.1/'}
    %link{:rel => 'schema.DCTERMS', :href => 'http://purl.org/dc/terms/'}
    %meta{:name => 'DC.type', :scheme => 'DCTERMS.DCMIType', :content => 'Text'}
    %meta{:name => 'DC.format', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'DC.title', :lang => 'en', :content => CONFIG.dc_title}
    %meta{:name => 'DC.subject', :lang => 'en', :content => CONFIG.dc_subject}
    %meta{:name => 'DC.publisher', :content => CONFIG.dc_publisher}
    %meta{:name => 'DC.identifier', :scheme => 'DCTERMS.URI', :content => CONFIG.base_url}

    %meta{"http-equiv" => "Content-Type", :content=>"text/html; charset=utf-8"}

    != csrf_meta_tag

    != stylesheet_link_tag "screen",     :media => "screen"

    != yield :head

  %body
    #headline

    #navigation-bar
      .left
        != link_to 'Contents', root_path, :accesskey => 't', :accesskey => '1'
        != link_to 'Dictionary', dictionaries_path
        != link_to 'Search', search_path
        - if is_annotator?
          != link_to 'Annotation', wizard_path
          != link_to 'Statistics', statistics_path
        - if is_reviewer?
          != link_to 'Changelog', audits_path
          != link_to 'Users', users_path
        - if user_signed_in?
          != link_to 'Your profile', edit_profile_path
      .right
        - if user_signed_in?
          != link_to 'Logout', destroy_user_session_path
        - else
          != link_to 'Sign in', new_user_session_path
        != link_to 'Help', page_path('help'), :accesskey => '6'
        != link_to 'Downloads', page_path('public_data')

    - if show_context_bar?
      #context-bar
        != yield(:context_bar)

    - if show_message_block?
      #message-block
        != message_block

    #contents
      - if controller_name == 'pages'
        .markdown
          != yield
      - else
        != yield

    #footer
      %span.tag proiel-webtool
      != "release #{PROIEL_RELEASE}."
      %br
      This application is Copyright 2007, 2008, 2009, 2010, 2011, 2012 University of Oslo, Marius L. Jøhndal, Dag Haug and Anders Nøklestad, and released under the GNU General Public License version 2.
