<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title><%= [t(:title), yield(:title)].compact.join(': ') %></title>
    <!-- %= favicon_link_tag % -->
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

    <%= yield :head %>
  </head>

  <body>
    <section class="hero is-primary is-large">
      <div class="hero-head">
        <div class="container">
          <nav class="nav">
            <div class="nav-left">
              <a class="nav-item" href="/">
                <%= image_tag 'logo-right.png', alt: 'PROIEL treebank annotation tool' %>
              </a>
            </div>
            <div class="nav-right">
              <a class="nav-item" href="/" accesskey="1">Texts</a>
              <a class="nav-item" href="/lemmata">Dictionary</a>
              <% if is_annotator? %>
                <a class="nav-item" href="/wizard">Annotate</a>
              <% end %>
              <% if is_reviewer? %>
                <a class="nav-item" href="/audits">History</a>
              <% end %>
              <% if user_signed_in? %>
                <a class="nav-item" href="/users/sign_out">Logout</a>
              <% end %>
              <a class="nav-item" href="https://github.com/mlj/proiel-webapp/wiki" accesskey="6">Documentation</a>
              <span class="nav-item">
                <span class="control has-icon">
                  <form accept-charset='UTF-8' action='/quick_search' class='inline' method='get'>
                    <input class="input" type="search" placeholder="Search" name="q">
                  </form>
                  <i class="fa fa-search"></i>
                </p>
              </span>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <h2 class="title">
                <%= yield :title %>
              </hr>
            </div>
          </div>
          <div class="level-right is-hidden-mobile">
            <%= yield :breadcrumbs %>
          </div>
        </nav>

        <% if show_context_bar? %>
          <div id="#context-bar">
            <%= yield :context_bar %>
          </div>
        <% end %>

        <% if show_message_block? %>
          <%= message_block %>
        <% end %>

        <%= yield %>
      </div>
    </section>

    <%= javascript_include_tag 'app' %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">proiel-webapp</strong> version <%= Proiel::VERSION %> by Marius L. Jøhndal, Dag Haug and Anders Nøklestad. The source code is licensed under the <a href="https://opensource.org/licenses/GPL-2.0">GNU General Public License version 2</a>. The content is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0<a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
