!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport',:content => 'width=device-width, initial-scale=1.0'}

    %title= show_title? ? [t(:title), yield(:title)].join(': ') : t(:title)

    != favicon_link_tag
    != csrf_meta_tag
    != javascript_include_tag 'application'

    != stylesheet_link_tag 'application'

    != yield :head
  %body
    #headline
      != image_tag 'logo-left.png', class: :left
      != image_tag 'logo-right.png', class: :right

    %nav#navigation-bar
      %span.left
        != link_to 'Contents', root_path, accesskey: '1'
        != link_to 'Dictionary', lemmata_path
        != link_to 'Search', tokens_path, accesskey: 'S'
        != link_to 'Semantic tags', semantic_tags_path
        - if is_annotator?
          != link_to 'Annotation', wizard_path
        - if is_reviewer?
          != link_to 'Users', users_path
        - if user_signed_in?
          != link_to 'Your profile', edit_profile_path
        - if user_signed_in?
          != link_to 'Logout', destroy_user_session_path
        - else
          != link_to 'Sign in', new_user_session_path
        != link_to 'Help', 'https://github.com/mlj/proiel-webapp/wiki', accesskey: '6'
      %span.right
        %form.inline{'accept-charset' => 'UTF-8', :action => '/quick_search', :method => 'get'}
          %input{:placeholder => 'Search', :size => '30', :type => 'search', :name => 'q'}

    .ui.container
      - if show_context_bar?
        #context-bar
          != yield(:context_bar)

      - if show_message_block?
        #message-block
          != message_block

      #contents
        != yield

    %footer
      %span.tag proiel-webapp
      != "version #{Proiel::VERSION},"
      %span.tag proiel
      != "version #{PROIEL::VERSION}"
      %br
      This application is Copyright 2007-2016 University of Oslo, Marius L. Jøhndal, Dag Haug and Anders Nøklestad, and released under the GNU General Public License version 2.
