!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport',:content => 'width=device-width, initial-scale=1.0'}
    %link{:rel => 'search', :type => 'application/opensearchdescription+xml', :title => t(:title), :href => '/opensearch.xml'}

    %title= show_title? ? [t(:title), yield(:title)].join(': ') : t(:title)

    != favicon_link_tag
    != csrf_meta_tag

    != stylesheet_link_tag 'application'
    != stylesheet_link_tag "screen",     :media => "screen"

    != yield :head
  %body
    #headline

    %nav#navigation-bar
      %span.left
        != link_to 'Contents', root_path, accesskey: '1'
        != link_to 'Dictionary', lemmata_path
        != link_to 'Search', tokens_path, accesskey: 'S'
        - if is_annotator?
          != link_to 'Annotation', wizard_path
          != link_to 'Statistics', statistics_path
        - if is_reviewer?
          != link_to 'Changelog', audits_path
          != link_to 'Users', users_path
        - if user_signed_in?
          != link_to 'Your profile', edit_profile_path
        - if user_signed_in?
          != link_to 'Logout', destroy_user_session_path
        - else
          != link_to 'Sign in', new_user_session_path
        != link_to 'Help', 'https://github.com/mlj/proiel-webapp/wiki', accesskey: '6'
        != link_to 'Downloads', pages_path
      %span.right
        %form.inline{'accept-charset' => 'UTF-8', :action => '/quick_search', :method => 'get'}
          %input{:placeholder => 'Search', :size => '30', :type => 'search', :name => 'q'}

    - if show_context_bar?
      #context-bar
        != yield(:context_bar)

    - if show_message_block?
      #message-block
        != message_block

    #contents
      - if controller_name == 'pages'
        .markdown
          != yield
      - else
        != yield

    %footer
      %span.tag proiel-webtool
      != "version #{Proiel.version}."
      %br
      This application is Copyright 2007, 2008, 2009, 2010, 2011, 2012, 2013 University of Oslo, Marius L. Jøhndal, Dag Haug and Anders Nøklestad, and released under the GNU General Public License version 2.
